<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seeker.demo">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:name=".SeekerDemoAppliacation"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SetItemView.SetItemViewActivity"
            android:label="@string/SetItemView"
            android:screenOrientation="portrait"/>

        <activity android:name=".FinalRecycleView.FinalRecycleViewActivity"
            android:label="@string/FinalRecycleView"
            android:screenOrientation="portrait" />
        <activity android:name=".OKHttpManger.OKHttpMangerActivity"
            android:label="@string/OKHttpManger"
            android:screenOrientation="portrait" />
        <activity android:name=".CropImage.CropImageActivity"
            android:label="@string/CropImageView"
            android:screenOrientation="portrait"/>
        <activity android:name=".dialog.DialogActivity"
            android:label="@string/LibDialogFragment"
            android:screenOrientation="portrait"/>

        <activity android:name=".LazyFragmetn.LazyFragmentActivity"
            android:label="@string/LazyFragment"
            android:screenOrientation="portrait"/>

    </application>

</manifest>